:root {
    --primary: #282828;
    --secondary: #282828;
    --content: #282828;
    --code-block-bg: #F5F5F5;

    /* Açık tema callout renkleri */
    --note-bg: #83a598;
    --warning-bg: #fabd2f;
    --danger-bg: #fb4934;
}

.dark {
    --primary: #ebdbb2;
    --secondary: #ebdbb2;
    --content: #ebdbb2;
    --code-block-bg: #282828;

    /* Koyu tema callout renkleri */
    --note-bg: #294f5f;
    --warning-bg: #b57b1a;
    --danger-bg: #a11b16;
}

/* Kod bloğu rengi (açık ve koyu tema için) */
.post-content pre code {
    padding: 8px;
    border-radius: 5px;
}

.post-content pre code {
    color: #333; /* Açık tema yazı rengi */
}

.dark .post-content pre code {
    color: #f5f5f5; /* Koyu tema yazı rengi */
}

/* Link renkleri */
a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: #b57614; /* Hem açık hem koyu tema için hover rengi */
}

/* Callout'lar (not, uyarı, tehlike) */
.danger, .note, .warning {
    background: var(--theme);
    border-left-style: solid;
    border-left-width: 0.4rem;
    border-radius: 0.2rem;
    margin-left: 0;
    padding: 1rem;
}

.note {
    background: var(--note-bg);
}

.warning {
    background: var(--warning-bg);
}

.danger {
    background: var(--danger-bg);
}