:root {
    --primary: #282828;
    --secondary: #282828;
    --content:  #282828;;
}

.dark {
    --primary: #ebdbb2;
    --secondary: #ebdbb2;
    --content: #ebdbb2;
}

/* LİNK RENGİ */
a {
    color: var(--primary); /* Linklerin normal rengi */
    text-decoration: none;
}

a:hover {
    color: #b57614; /* Açık tema için hover rengi */
}

.dark a:hover {
    color: #b57614; /* Koyu tema için hover rengi */
}

/* CALLOUTS */
.danger, .note, .warning {
    background: var(--theme); /* Temaya bağlı genel background */
    border-left-style: solid;
    border-left-width: 0.4rem;
    border-radius: 0.2rem;
    margin-left: 0;
    padding: 1rem; /* Yalnızca bloklara genel padding ekleyin */
}

.note {
    background: #83a598; /* Açık tema için mavi */
}

.warning {
    background: #fabd2f; /* Açık tema için sarı */
}

.danger {
    background: #fb4934; /* Açık tema için kırmızı */
}

.dark .note {
    background: #294f5f; /* Daha koyu mavi */
}

.dark .warning {
    background: #b57b1a; /* Daha koyu sarı */
}

.dark .danger {
    background: #a11b16; /* Daha koyu kırmızı */
}
