.danger, .note, .warning {
    background: #282828;
    border-left-style: solid;
    border-left-width: 0.4rem;
    border-radius: 0.2rem;
    margin-left: 0;
    padding: 1rem; /* Yalnızca bloklara genel padding ekleyin */
  }

.note {
  border-left-color: #79740e;
}

.warning {
  border-left-color: #b57614;
}

.danger {
  border-left-color: #9d0006;
}
